@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    display: flex;
}

#header {
    background-color: #FDF1EB;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px;
}

#main {
    display: flex;
}

#footer {
    background-image: url(imagens/footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 181px;
}

article {
    margin: auto;
}

.destaque {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalhes {
    margin: 10px;
    min-width: 30vw;
    max-height: 300px;
    overflow-y: scroll;
    font-size: 1rem;
    text-align: justify;
}

.destaque h2, .discussoes h4 {
    color: #ED7839;
    font-weight: bold;
    font-size: 1.8rem;
}

.resumo, .discussoes {
    border: 1px solid #5C5C5C;
    margin-bottom: 0.5rem;
}

.resumo p, .resumo h3, .discussoes h3, .comentario p {
    padding: 0 1rem;
    text-align: justify;
}

.discussoes {
    text-align: center;
}

.comentario.aberto {
    box-shadow: 1px 1px 5px px #5C5C5C;
    margin: 0.5rem;
}

.comentario h4 {
    color: #ED7839;
    font-size: 1.4rem;
    font-weight: 600;
}

.comentario p {
    font-size: 1.3rem;
}

h3 {
    background-color: #FDF1EB;
}

a {
    text-decoration: underline;
    color: #ED7839;
    font-weight: 400;
}

button {
    background-color: #ED7839;
    color: #FDF1EB;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
}

.btn {
    text-align: center;
}

.btn h4 {
    color: #ED7839;
    margin-top: 1rem;
    text-transform: uppercase;
}

.icone {
    color: #fff;
}

textarea, input{
    width: 95%;
    min-height: 2.5rem;
    border: none;
    border-radius: 2px;
    box-shadow: black 0 0 2px;
}

label {
    color: #ED7839;
    font-weight: bolder;
    font-size: 1.3rem;
    display: flex;
    justify-content: left;
    margin-left: 2rem;
}

form p {
    text-align: center;
    width: 95%;
    font-size: 1.2rem;
}

.barra {
    background-color: #EAF1F2;
    display: flex;
    justify-content: space-between;
}

.enviar button{
    width: 150px;
    border-radius: 0;
}

.alterarTexto button {
    border-radius: 0;
    background-color: transparent;
    color: #000;
    height: 100%;
    width: 50px;
}

#negrito, .negrito {
    font-weight: bolder;
}

#italico, .italico {
    font-style: italic;
}

.limitador {
    max-width: 95%;
    margin: auto;
}

@media screen and (max-width: 885px) {
    .destaque {
        flex-direction: column;
    }

    aside{
        text-align: center;
        width: 100%;
    }
}

#btnVerMais {
    background-color: transparent;
    color: #ED7839;
    font-weight: bolder;
    text-decoration: none;
}

#mais {
    display: none;
}

#formulario{
   display: none;
}

#atualizar {
    display: none;
}

#global  {
  transition: margin-left .5s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #fff; 
  box-shadow: #444 1px 2px 5px;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #725C5C;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ED7839;
}

.sidebar img {
    max-width: 170px;
}

.ativa {
    background-color: #FDF1EB;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  display: block;
}

.openbtn:hover {
  background-color: #ED7839;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}